.App {
  text-align: center;
 
}

.header {
  min-height: 99.9vh;/*occuper tout espace vertical 100%*/
  width: 100%;
  background-position: center;
  background-size:cover ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(rgba(198, 182, 111, 0.7), rgba(4,9,30,0.7)), url(./components/background.png);
}
.header nav img {
  max-width: 100%; /* Ajustez la largeur de l'image */
  max-height: 400px; /* Ajustez la hauteur de l'image */
  position: absolute;
  transform: translate(-50%, -22%);
  align-items: center;
}
.formInput {
  height: 110vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formInput .formu input {
  padding: 5px;
  margin: 0px;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgb(238, 221, 221);
}
.formInput .formu label{
  color: rgb(7, 6, 6);
  display: block; 
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 100px;
  
}
.formInput form{
  background: linear-gradient(to bottom,  rgba(255, 189, 89, 0.5),rgba(30, 6, 89, 0.5));
  padding: 0px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #ffbd59;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
button:hover{
  color: white;
  background-color: #02103c;
  transition: 2s;
}





/* Styles for the entire application */
.Todo {
  display: flex;
  background-image: linear-gradient(rgba(198, 182, 111, 0.7), rgba(4,9,30,0.7)), url(./components/background.png);
  height: 100vh;
  font-family: Arial, sans-serif;
  
}

.Todo nav img {
  max-width: 100%; /* Ajustez la largeur de l'image */
  max-height: 400px; /* Ajustez la hauteur de l'image */
  position:absolute;
  transform: translate(-50%, -22%);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 480px;

}


/* Styles for the sidebar menu */
.Todo .sidebar {
  background: linear-gradient(to bottom,  rgba(255, 189, 89, 0.5),rgba(30, 6, 89, 0.5));
  color: rgb(10, 9, 9);
  width: 200px;
  padding: 20px;
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 100px;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  color:#ffbd59;
}

/* Styles for the content area */
.content {
  flex: 2;
  padding: 150px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #481111;
}

/* Styles for the task input form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Todo input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.Todo button {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #acbae7;
  color: rgb(14, 14, 14);
  border: 2px;
  cursor: pointer;
}
.Todo button:hover{
  background-color: #ffbd59;
  transition: 2s;
}

/* Styles for individual task cards */
.task {
 /*display: flex;*/
   align-items: center;
  justify-content: space-between;
  background-color: rgb(217, 221, 245); /* Couleur de fond beige */
  border: 2px solid rgb(32, 6, 88);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Exemple de police de caractères */
}



.task p {
  font-size: 14px; /* Taille de la police pour les détails */
  margin: 0;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(22, 2, 66); /* Couleur d'écriture pour les détails */
}

/* Styling for completed tasks */
.task.done {
  background-color: rgb(155, 117, 81); /* Couleur de fond pour les tâches terminées */
  border: 2px solid #392601; /* Bordure pour les tâches terminées */
}