.App {
  text-align: center;
  
}
.header {
  min-height: 99.9vh;/*occuper tout espace vertical 100%*/
  width: 100%;
  background-position: center;
  background-size:cover ;
  position: relative;
  background-image: linear-gradient(rgba(198, 182, 111, 0.7), rgba(4,9,30,0.7)), url(./components/background.png);
}
.header nav img {
  max-width: 100%; /* Ajustez la largeur de l'image */
  max-height: 400px; /* Ajustez la hauteur de l'image */
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  transform: translate(-50%, -22%);
  align-items: center;
}